.*
!.gitignore
*.json
*.pdf
*.txt
*.png
*.jpg
work.py
work_2.py
just_in_case.py
work.ipynb
!genesis_block.json
notes.rtf
!requirements.txt
python_implementation/__pycache__
python_implementation/just_in_case*